button.map-anything.slds-button.refresh, button.map-anything.slds-button.refresh a {
	background-color: #FFA500;
	color: black;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	
}

@media (max-width: 48em) {
      .map-anything .slds-max-medium-table--stacked tr {
        display: block;
        border-top: 2px solid #d8dde6; }
      .map-anything .slds-max-medium-table--stacked th,
      .map-anything .slds-max-medium-table--stacked td {
        display: block;
        padding: 0.75rem;
        max-width: 100%;
        width: 100%;
        clear: both;
        white-space: normal;
        overflow: hidden;
        text-align: center; 
    }
}